/* Menu Styles */

#menu {
  width: 100%;
  background-color: var(--menu-background);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#menu li {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#menu li a,
#menu li a:link,
#menu li a:visited {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 2px;
}

#menu li a:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#menu li.dropdown {
  position: relative;
  display: block;
}

#menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--menu-background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

#menu .dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#menu .dropdown-content a:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#menu .dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive Menu Styles */
@media (max-width: 768px) {
  #menu ul {
    flex-direction: column;
  }
}

/* Print Menu Styles */
@media print {
  #menu {
    display: none;
  }
}
