[Unit]
Description=Run Supermon-NG Node Status Update every 5 minutes
Requires=supermon-ng-node-status.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
