[Unit]
Description=Run Supermon-NG Node Status Update every NODE_STATUS_INTERVAL_PLACEHOLDER
Requires=supermon-ng-node-status.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=NODE_STATUS_INTERVAL_PLACEHOLDER
AccuracySec=30s

[Install]
WantedBy=timers.target
