<?php
/**
 * Supermon-ng Global Configuration Example
 *
 * Copy this file to user_files/global.inc and customize it.
 * Only the options listed below are read by the application.
 *
 * SUPPORTED OPTIONS (used by the app):
 * - CALL, NAME, LOCATION, TITLE2, TITLE3, SMSERVERNAME
 * - WELCOME_MSG, WELCOME_MSG_LOGGED
 * - BACKGROUND_COLOR, BACKGROUND_HEIGHT, DISPLAY_BACKGROUND
 * - CALLSIGN_COLOR, TITLE_LOGGED_COLOR, TITLE_NOT_LOGGED_COLOR
 * - LOGO_NAME, LOGO_SIZE, LOGO_POSITION_RIGHT, LOGO_POSITION_TOP, LOGO_URL
 * - MY_URL, DVM_URL
 *
 * Header background: place header-background.jpg (or .png, .gif, .webp) in user_files/
 * to use a custom header image.
 */

// ========================================
// BASIC IDENTITY & INFORMATION
// ========================================

$CALL = "YOUR_CALLSIGN";
$NAME = "Your Name";
$LOCATION = "<span style=\"color: #00ff00\">Your City, State</span>";

// ========================================
// PAGE TITLES & HEADERS
// ========================================

$TITLE2 = "Your AllStar Network Management Dashboard";
$TITLE3 = "AllStarLink/IRLP/EchoLink/Digital - Bridging Control Center";
$SMSERVERNAME = "Supermon - ";

// ========================================
// WELCOME MESSAGES
// ========================================

$WELCOME_MSG = "<p style='margin-top:1em;'><center><b>Welcome to my Supermon-ng page</b></center></p>";
$WELCOME_MSG_LOGGED = "<p style='margin-top:1em;'><center><b>Welcome back!</b></center></p>";

// ========================================
// BACKGROUND & APPEARANCE
// ========================================

$BACKGROUND_COLOR = "black";
$BACKGROUND_HEIGHT = "164px";
$DISPLAY_BACKGROUND = "black";

// ========================================
// HEADER TEXT COLORS
// ========================================

// $CALLSIGN_COLOR = "#00ff00";
// $TITLE_LOGGED_COLOR = "#ffff00";
// $TITLE_NOT_LOGGED_COLOR = "#ffffff";

// ========================================
// LOGO CONFIGURATION
// ========================================

// $LOGO_NAME = "your_logo.png";
// $LOGO_SIZE = "15%";
// $LOGO_POSITION_RIGHT = "12%";
// $LOGO_POSITION_TOP = "20%";
// $LOGO_URL = "http://www.yourwebsite.org/";

// ========================================
// URL CONFIGURATION
// ========================================

// $MY_URL = "http://yourwebsite.org/";

// ========================================
// DIGITAL VOICE INTEGRATION
// ========================================

// $DVM_URL = "../dvswitch";

?>
